.answer {
	width: 200px;
	height: 50px;
	background-color: yellow;
	border-style: solid;
	border-width: 2px;
	text-align: center;
	color: black;
}
#left {
	float: left;
}
#right {
	float: right;
}
#header {
	margin: auto;
	text-align: center;
	font-size: 48px;
	background-color: yellow;
}
#container {
	background-color: blue;
	background-size: inherit;
	height: 560px;
}
#board {
	width: 408px;
	height: 216px;
	background-color: red;
	margin: auto;
}
html, body {
	width: 100%;
	height: 100%;
}
#clock {
	text-align: center;
	margin: auto;
	height: 40px;
	font-size: 36px;
	font-family: 'Black Ops One', cursive;
}
#xes {
	text-align: center;
	position: relative;
	margin: auto;
	top: -240px;
	font-size: 36px;
	color: red;
	font-weight: bold;
}
#info {
	text-align: center;
	margin: auto;
}
#info-question {
	text-align: center;
	height: 50px;
	margin: auto;
	font-size: 24px;
	padding-top: 20px;
	color: black;
}
#input {
	text-align: center;
	margin: auto;
	font-size: 24px;
}
#input-screen{
	text-align: center;
	margin: auto;
	padding-top: 25px;
	height: 50px;
}
#guess {
	font-size: 24px;
}
#score {
	font-family: 'Black Ops One', cursive;
	font-size: 36px;
}
.button {
	color: blue;
	font-size: 24px;
}

