.answer {
	width: 200px;
	height: 50px;
	background-image: url(../images/blank.jpg);
	border-style: solid;
	border-width: 2px;
	border-color: gray;
	text-align: center;
	color: black;
	z-index: 15;
}
#left {
	float: left;
}
#right {
	float: right;
}
#container {
	background-color: purple;
	background-size: inherit;
	height: 900px;
}
#board {
	width: 408px;
	height: 216px;
	background-color: red;
	margin: auto;
	border-style: solid;
	border-width: 2px;
	border-color: gray;
	position: relative;
	z-index: 10;
	top: -370px;
	left: 4px;
	animation-name: phaseIn;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
html, body {
	width: 100%;
	height: 100%;
}
#clock {
	text-align: center;
	margin: auto;
	height: 40px;
	font-size: 36px;
	font-family: 'Black Ops One', cursive;
	color: white;
}
#xes {
	text-align: center;
	position: relative;
	margin: auto;
	top: -440px;
	font-size: 36px;
	color: red;
	font-weight: bold;
	z-index: 15;
	background-color: purple;
	width: 160px;
}
#info {
	text-align: center;
	margin: auto;
}
#info-question {
	position: relative;
	top: -200px;
	text-align: center;
	height: 50px;
	margin: auto;
	font-size: 30px;
	color: white;
}
#input {
	text-align: center;
	margin: auto;
	font-size: 24px;
}
#input-screen{
	text-align: center;
	margin: auto;
	padding-top: 25px;
	height: 50px;
}
#guess {
	font-size: 24px;
}
#score {
	font-family: 'Black Ops One', cursive;
	font-size: 36px;
	position: relative;
	top: -750px;
	left: 300px;
	color: white;
	z-index: 20;
	animation-name: phaseIn;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
.button {
	color: blue;
	font-size: 24px;
	position: relative;
	top: -300px;
}
#logo {
	margin: auto;
	height: 60px;
}
#theBoard {
	z-index: 1;
	position: relative;
}
#photo {
	width: 800px;
	margin: auto;
	animation-name: phaseIn;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
.answerText {
	color: white;
	margin-top: 15px;
	margin-left: 10px;
	font-size: 18px;
	float: left;
}
.answerNumber {
	color: white;
	margin: auto;
	font-size: 20px;
	padding-top: 14px;
	padding-left: 8px;
	font-family: 'Black Ops One', cursive;
}
.exEs {
	color: white;
	margin: auto;
	font-size: 24px;
	padding-top: 11px;
}
.scoreText {
	float: right;
	color: white;
	font-size: 20px;
	margin-right: 13px;
	font-family: 'Black Ops One', cursive;
	margin-top: 15px;
}
@keyframes flipIn{
	0% {
		height: 0px;
	}
	50% {
		height: 25px;
	}
	100% {
		height: 50px;
	}
}
@keyframes phaseIn{
	0% {
		opacity: 0;
		transform: scale(0.001);
	}
	50% {
		opacity: 0.5;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@media screen and (max-width: 799px){
	#photo {
		display: none;
	}
	#board {
		top: 0;
	}
	.button{
		top: 0;
	}
	#info-question{
		top: 0;
	}
	#xes {
		top: 0;
	}
	#score {
		top: 0;
		left: 0;
		padding-top: 8px;
	}
}


